RewriteEngine on
RewriteCond %{REQUEST_URI} ^/mod/repasrc/foodstuffImg/.+\.jpg
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^.*$ /mod/repasrc/img/default.jpg [NC,L]
RewriteCond %{REQUEST_URI} !^/doc/$
RewriteCond %{REQUEST_FILENAME} !\.(js|JS|css|CSS|jpg|JPG|png|PNG|gif|GIF|ico|flv|FLV|avi|AVI|mov|MOV|zip|ZIP|pdf|PDF|json|JSON|csv|CSV|ttf|TTF|eot|EOT|woff|WOFF|svg|SVG)$
RewriteRule ^.*$ index.php [L]
