* {
  margin: 0px;
  padding: 0px;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
 /*	display: inline-block; */
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
  height: 1%;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: #FFF;
	font-family: arial, helvetica, sans-serif ;
	font-size:12px;
}

a {
	text-decoration: none;
}


button, input {
  line-height: normal;
  *overflow: visible;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

input[type="file"] {
  background-color: #ffffff;
  padding: initial;
  border: initial;
  line-height: initial;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

input[type="button"], 
input[type="submit"], 
input[type="reset"], 
input[type="radio"], 
input[type="checkbox"] {
	margin: 0;
	border:1px solid #bbb;
	padding: 2px 5px 2px 5px;
	height: 24px;
  cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #e7e7e7;
	background-image: -moz-linear-gradient(#fff, #e7e7e7);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e7e7e7));    
	background-image: -webkit-linear-gradient(#fff, #e7e7e7);
	background-image: -o-linear-gradient(#fff, #e7e7e7);
	background-image: -ms-linear-gradient(#fff, #e7e7e7);
	background-image: linear-gradient(#fff, #e7e7e7);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fff', EndColorStr='#e7e7e7');     
}

input[type="button"]:hover, 
input[type="submit"]:hover, 
input[type="reset"]:hover, 
input[type="radio"]:hover, 
input[type="checkbox"]:hover {
	background-color: #fff;
	background-image: -moz-linear-gradient(#e7e7e7, #fff);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e7e7e7), to(#fff));      
	background-image: -webkit-linear-gradient(#e7e7e7, #fff);
	background-image: -o-linear-gradient(#e7e7e7, #fff);
	background-image: -ms-linear-gradient(#e7e7e7, #fff);
	background-image: linear-gradient(#e7e7e7, #fff);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#e7e7e7', EndColorStr='#fff');    
}

input[type="button"]:active, 
input[type="submit"]:active, 
input[type="reset"]:active, 
input[type="radio"]:active, 
input[type="checkbox"]:active {
	background: #e7e7e7;
	position: relative;
	top: 1px;
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.7) inset;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.7) inset;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.7) inset; 
}

input[type="radio"], 
input[type="checkbox"] {
	height: 12px;
}

input[type="file"]:focus, 
input[type="radio"]:focus, 
input[type="checkbox"]:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 1px dotted #666;
}

form *:disabled {
  cursor: not-allowed;
	border: 1px solid #d0d0d0;
	color: #c0c0c0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #d0d0d0;
	background-image: -moz-linear-gradient(#fff, #d0d0d0);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#d0d0d0));    
	background-image: -webkit-linear-gradient(#fff, #d0d0d0);
	background-image: -o-linear-gradient(#fff, #d0d0d0);
	background-image: -ms-linear-gradient(#fff, #d0d0d0);
	background-image: linear-gradient(#fff, #d0d0d0);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fff', EndColorStr='#d0d0d0');     
}

input, textarea {
  border-top: solid 1px #aaa;
  border-left: solid 1px #aaa;
  border-bottom: solid 1px #ccc;
  border-right: solid 1px #ccc;
  color: #555;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 2px 4px #e7e7e7 inset;
	-webkit-box-shadow: 0 2px 4px #e7e7e7 inset;
	box-shadow: 0 2px 4px #e7e7e7 inset;
}

/* INPUT & TEXTAREA */

input:focus, 
textarea:focus {
  outline: 0;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}

input[type="text"], 
textarea {
	padding: 2px 3px 2px 3px;
	height: 18px;
}
